#container-add form{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    border: 1px solid #ced4da;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgb(170, 169, 169);
}

form .ilustration{
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ilustration img{
    width: 90%;
    height: 90%;
}

form .container{
    width: 65%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container .container-input{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-input input[type=text], input[type="password"] {
    width: 45%;
    height: 50%;
    border: 2px solid #ced4da;
    border-radius: 10rem;
}

::placeholder{
    font-style: italic;
    font-size: 120%;
}

.container-input select {
    width: 45%;
    height: 50%;
    border: 2px solid #ced4da;
    border-radius: 10rem;
    font-style: italic;
    font-size: 110%;
}

select option{
    font-style: italic;
    font-size: 120%;
}

.container input[type="submit"]{
    width: 40%;
    height: 10%;
    border: none;
    border-radius: 10rem;
    background-color: rgb(110, 202, 18);
}