section{
    width: 80%;
    height: 100vh;
    margin-left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .container{
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .container-button{
    width: 100%;
    height: 33.33%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reverse{
    flex-direction: row-reverse;
}

.container-button button{
    width: 20%;
    height: 70%;
    overflow: auto;
    border: none;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgb(78, 77, 77);
    cursor: pointer;
}

.container-button button:hover {
    transform: scale(110%);
}

button img{
    width: 90%;
    height: 90%;
}

button.add{
    background-color: rgb(145, 233, 58);
}

button.update{
    background-color: rgb(238, 175, 58);
}

button.delete{
    background-color: rgb(231, 67, 67);
}

.container-button .description{
    width: 70%;
    height: 70%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
}

.description strong{
    width: 20%;
    height: 20%;
    font-size: 150%;
    text-align: center;
}

.description ul{
    width: 75%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.description ul li{
    width: 100%;
    height: 33%;
    text-align: left;
    border-bottom: none;
    font-size: 120%;
    font-family: 'Architects Daughter', cursive;
    font-weight: 400;
}