section{
    width: 80%;
    margin-left: 20%;
}

section .container-menu{
    width: 100%;
    height: 25vh;
    border-bottom: 0.2rem solid #8fbd81;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-menu .menu{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu button{
    width: 15%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgb(78, 77, 77);
    background-color: #fff;
}

.menu button:hover{
    transform: scale(110%);
}

button img{
    width: 90%;
    height: 90%;
}

/* Contenido */
.content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content h1{
    
}