.view section{
    width: 100%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section .container-back-button{
    width: 80%;
    height: 6vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container-back-button .back-button{
    width: 7%;
    height: 100%;
    border-radius: 100%;
    border: none;
    background-color: rgb(110, 202, 18);
    font-size: 180%;
    color: #fff;
    cursor: pointer;
}

.container-back-button .back-button:hover{
   transform: scale(110%);
}

section .addUser{
    width: 80%;
    height: 30vh;
    border-bottom: 0.2rem solid rgb(145, 233, 58);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addUser button{
    width: 25%;
    height: 75%;
    cursor: pointer;
    border: 1px solid #ced4da;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgb(170, 169, 169);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.addUser button:hover{
    transform: scale(110%);
}

.addUser button img{
    width: 90%;
    height: 85%;
}

.addUser button p{
    width: 65%;
    height: 10%;
    font-size: 140%;
}

#container-add{
    width: 80%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}