    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    header {
        width: 100%;
        height: 20%;
        background-color: rgb(33, 163, 33);
        display: flex;
        align-items: center;
    }
    
    header strong {
        margin-left: 3%;
        height: 40%;
        font-size: 200%;
        color: white;
    }
    
    form {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    input[type="file"] {
        width: 30%;
        height: 15%;
        background-color: grey;
    }
    
    .container {
        width: 40%;
        height: 30%;
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
    
    input[type="submit"] {
        width: 45%;
        height: 40%;
        background-color: green;
        border: none;
        border-radius: 1rem;
        color: white;
        cursor: pointer;
        font-size: 150%;
    }